{% load static %}
<html>
    <head>
        <title>batch List</title>
<link href="{% static 'image/icon1.jpg' %}"
 rel="icon">
 <link href="{% static 'css/style1.css' %}" 
  rel="stylesheet">
    </head>
    <body>
        <div id="maindiv">
<div id="header">
<div id="head1">
<marquee direction="right">
    Css Template
</marquee>    
</div>

  <img src=" {% static 'image/logo1.jpg' %}"
   id="logo1">
   <img src=" {% static 'image/logo2.jpg' %}"
   id="logo2">
</div>
<!-- <div id="menu">
<a href="">home</a>
<a href="#">about us</a>
<a href="/userlist/">user list</a>
<a href="/Register/">register</a>
<a href="#">login</a>
</div> -->
{% include 'studentmenu.html' %}
<div id="content">
    <table border="1" align="center">
        <caption>Upcoming batch list</caption>
    <tr>
        <th>batch id</th>
        <th>Course Name</th>
        <th>start date </th>
        <th>batch time</th>
        <th>faculty name</th>
        <th>Option</th>

    </tr>
    {% for x in res %}
    <tr>
        <th> {{ x.batchid }} </th>
        <th>{{ x.nm }}</th>
        <th>{{ x.starttime }}</th>
        <th>{{ x.batchtime }}</th>
        <th> {{ x.facultyname }} </th>
        <th> <a href="/admission/?batchid={{ x.batchid }}">Select Batch</a> </th>  <!-- ? for storing data on url (query string)-->
    </tr>
   {% endfor %}
    </table>
</div>
<div id="footer">
<div align="center" 
style="color:white">
 &copy;css template-2023
</div>
</div>
        </div>
    </body>
</html>